.root {
    -fx-focus-color: transparent;
    -fx-border-radius: 30;
    -fx-background-color: white;
}

AnchorPane {
    -fx-vbar-policy: always;
    -fx-border-radius: 30;
    -fx-background-color: white;
}